.page-core{
  section{
    margin-top:1em;
    width:100%;
    label{
      width:100%
    }
    input{
      margin-top:0.5em;
      width:100%;
      height:2.5em;
      border-radius:3px;
      border:solid 1px #e3e3e3;
      text-indent: 1em;
    }
    button{
      color:#fff;
      background:rgb(70,148,254);
      padding:0.5em 1em;
      border-radius:3px;
    }
  }
}