@common-grey: rgb(238,239,243);

.page-core {
  background : @common-grey;
  box-sizing : border-box;
  padding : 1em;

  .core {
    background : #fff;
    width : calc(100%);
    padding : 1em;
  }

}


