Fragment {
  text-align: center;
}

tbody {
  .table-header{
    background: #fff;
    height: 3em;
    text-align: left;
  }
  .table-tr{
    height: 4em;
    border-bottom:solid 2px #ddd;
    button{
      border:solid 1px #d3d3d3;
      padding:0.5em 1em;
      border-radius:5px;
      background:#f4f3f2;
      color:red;
    }
  }
}