*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

root{
  width: 100%;
}

.App{
  width: 100%;
}

@common-grey: rgb(238,239,243);

.page {
  background : @common-grey;
  box-sizing : border-box;
  padding : 1em;

  .page-core {
    background : #fff;
    width : calc(100%);
    padding : 1em;
  }

}