@goods-tab-height: 400px;
@goods-tab-width: 25%;
@common-grey: rgb(238, 239, 243);
@goods-tab-margin: 20px;
@goods-tab-padding: 2em;

.tabBorder {
  box-sizing: border-box;
  width: @goods-tab-width;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: @goods-tab-padding;

  section {
    padding: 0;
    margin: 0;
    background: white;
    border:solid 1px #d3d3d3;
    height: @goods-tab-height;
    img {
      width: calc(60%);
      height: calc(60%);
    }

  }
}

.goodsName {

}

.price {

}

button {
  border: none;
}