@background-color: rgb(6,22,38);
@tab-color: rgb(64,145,248);
@font-color: white;
@tab-height: 60px;

* {
  margin: 0;
  padding: 0;
}
.background {
  background: @background-color;
}

.tab {
  color: @font-color;
  text-decoration: none;
  display: inline-block;
  height: @tab-height;
  line-height: @tab-height;
  text-align: center;
  width: 100px;
}

.selected {
  background: @tab-color;
  .tab;
}
